    <app-header (sendSearch)="onSearchFormSubmitted($event)"></app-header>
    <app-carousel></app-carousel>
    <app-features [featureData]="data.features" (elementCreated)="onElementCreated($event)"></app-features>
    <app-about [aboutData]="data.about" (elementCreated)="onElementCreated($event)"></app-about>
    <app-address [addressData]="data.address" (elementCreated)="onElementCreated($event)"></app-address>
    <app-contact (sendForm)="onContactFormSubmitted($event)"></app-contact>
    <app-buttontop></app-buttontop>
    <app-footer></app-footer>
